#filterContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
  grid-template-areas: "name name name name name name" "origin origin category category style style" "minAbv maxAbv minIbu maxIbu minSrm maxSrm" "orderBy . . . . ." ". . applyFilters applyFilters . .";
  background-color: darkkhaki;
  padding: 6px;
  border-radius: 4px 4px 4px 4px; }
  #filterContainer .input {
    border-radius: 4px 4px 4px 4px;
    border: 0px solid; }
  #filterContainer #nameFilter {
    grid-area: name;
    height: 30px;
    padding-left: 4px; }
  #filterContainer #originFilter {
    grid-area: origin; }
  #filterContainer #categoryFilter {
    grid-area: category; }
  #filterContainer #styleFilter {
    grid-area: style; }
  #filterContainer #minAbvFilter {
    grid-area: minAbv; }
  #filterContainer #maxAbvFilter {
    grid-area: maxAbv; }
  #filterContainer #minIbuFilter {
    grid-area: minIbu; }
  #filterContainer #maxIbuFilter {
    grid-area: maxIbu; }
  #filterContainer #minSrmFilter {
    grid-area: minSrm; }
  #filterContainer #maxSrmFilter {
    grid-area: maxSrm; }
  #filterContainer #orderBy {
    grid-area: orderBy; }
  #filterContainer #applyFilters {
    grid-area: applyFilters;
    width: 50%;
    margin-left: 25%;
    align-self: center; }
  #filterContainer select,
  #filterContainer button {
    cursor: pointer;
    height: 36px; }
