/* Set height of body and the document to 100% to enable "full page tabs" */
/* Style tab links */
.tablink {
  background-color: var(--brown);
  color: var(--yellow);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%; }

.lighting {
  background-color: var(--yellow);
  color: var(--brown); }

#voted {
  border-radius: 5px 0 0 0; }

#liked {
  border-radius: 0 5px 0 0; }

.tablink:hover {
  box-shadow: inset 0px 0px 11px 2px var(--yellow);
  cursor: pointer; }

.tabcontent {
  padding-top: 10px;
  background: var(--brown);
  background: linear-gradient(180deg, var(--yellow) 0%, white 30px);
  display: none; }

#paging {
  margin-top: 6px;
  align-self: center;
  display: inline-block; }
  #paging .pag {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #ddd;
    cursor: pointer; }
    #paging .pag .active {
      background-color: #4caf50;
      color: white;
      border: 1px solid #4caf50; }
    #paging .pag:hover:not(.active) {
      background-color: #ddd; }

.tabcontent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 450px;
  width: 100%;
  border-radius: 3px 3px 3px 3px;
  padding-bottom: 70px; }
  .tabcontent .cardBeer {
    display: flex;
    flex-direction: column;
    border-radius: 0;
    border-bottom: 2px solid grey;
    justify-content: space-between;
    margin: 7px;
    width: 200px;
    height: 280px;
    cursor: pointer; }
    .tabcontent .cardBeer .photoAndLike {
      display: inline-block;
      width: 100%;
      height: 200px;
      border-radius: 3px 3px 3px 3px; }
      .tabcontent .cardBeer .photoAndLike .photo {
        display: flex;
        justify-content: center;
        border-radius: 3px 3px 0 0;
        min-width: 100%;
        height: 200px; }
        .tabcontent .cardBeer .photoAndLike .photo img {
          display: block;
          margin: auto;
          max-width: 100%;
          max-height: 100%; }
      .tabcontent .cardBeer .photoAndLike .fav-btn {
        font-size: 40px;
        display: flex;
        position: relative;
        right: -170px;
        top: -190px;
        width: 30px; }

@keyframes favme-anime {
  0% {
    opacity: 1;
    font-size: ms(0);
    -webkit-text-stroke-color: transparent; }
  25% {
    opacity: 0.6;
    color: #fff;
    font-size: ms(-2);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #dc3232; }
  75% {
    opacity: 0.6;
    color: #fff;
    font-size: ms(3);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #dc3232; }
  100% {
    opacity: 1;
    font-size: ms(2);
    -webkit-text-stroke-color: transparent; } }

@keyframes favme-hover {
  from {
    font-size: ms(3); }
  80% {
    font-size: ms(2); } }
        .tabcontent .cardBeer .photoAndLike .fav-btn .favme {
          display: block;
          font-size: ms(2);
          width: auto;
          height: auto;
          box-shadow: none;
          transition: all 0.2s ease;
          color: #cbcdce;
          margin: 0; }
          .tabcontent .cardBeer .photoAndLike .fav-btn .favme .active {
            color: #dc3232; }
          .tabcontent .cardBeer .photoAndLike .fav-btn .favme:hover {
            animation: favme-hover 0.3s infinite alternate; }
          .tabcontent .cardBeer .photoAndLike .fav-btn .favme.is_animating {
            animation: favme-anime 0.3s; }
        .tabcontent .cardBeer .photoAndLike .fav-btn .hearthLighting {
          color: red; }
    .tabcontent .cardBeer .name {
      margin: 0 8px 0 8px; }
    .tabcontent .cardBeer .star-rating {
      display: inline-block;
      align-self: flex-start;
      margin: 0 4px 8px 3px; }
      .tabcontent .cardBeer .star-rating span {
        float: right;
        width: 25px;
        height: 25px;
        line-height: 25px;
        font-size: 25px;
        color: #95a5a6;
        text-decoration: none;
        text-align: center;
        transition: color 0.3s; }
        .tabcontent .cardBeer .star-rating span:hover {
          color: #ebd300; }
      .tabcontent .cardBeer .star-rating .starLighting {
        color: #f39c12; }
  .tabcontent #noBeers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px; }
