#filterContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
    grid-template-areas:
        "name name name name name name"
        "origin origin category category style style"
        "minAbv maxAbv minIbu maxIbu minSrm maxSrm"
        "orderBy . . . . ."
        ". . applyFilters applyFilters . .";
    background-color: darkkhaki;
    padding: 6px;
    border-radius: 4px 4px 4px 4px;

    .input {
        border-radius: 4px 4px 4px 4px;
        border: 0px solid;
    }

    #nameFilter {
        grid-area: name;
        height: 30px;
        padding-left: 4px;
    }
    #originFilter {
        grid-area: origin;
    }
    #categoryFilter {
        grid-area: category;
    }
    #styleFilter {
        grid-area: style;
    }
    #minAbvFilter {
        grid-area: minAbv;
    }
    #maxAbvFilter {
        grid-area: maxAbv;
    }
    #minIbuFilter {
        grid-area: minIbu;
    }
    #maxIbuFilter {
        grid-area: maxIbu;
    }
    #minSrmFilter {
        grid-area: minSrm;
    }
    #maxSrmFilter {
        grid-area: maxSrm;
    }
    #orderBy {
        grid-area: orderBy;
    }
    #applyFilters {
        grid-area: applyFilters;
        width: 50%;
        margin-left: 25%;
        align-self: center;
    }

    select,
    button {
        cursor: pointer;
        height: 36px;
    }
}
