body {
  margin: 0;

  .inputFilter {
    border-radius: 4px 4px 4px 4px;
    border: 0px solid;
  }

  #header {
    display: flex;
    height: auto;
    background-color: #c3a47c;
    width: 100%;

    #logo {
      width: 100px;
      position: relative;
    }

    #nav {
      display: flex;
      align-self: center;
      justify-self: center;
      background-color: lightcoral;
      border-radius: 31px 31px 31px 31px;
      margin: 0 100px 0 100px;
      justify-content: space-evenly;
      width: 100%;
      font-size: x-large;

      .navItem {
        width: inherit;
        height: 37px;
        text-align: center;
        padding-top: 3px;
        border-radius: 31px 31px 31px 31px;

        &:hover {
          box-shadow: inset 0px 0px 11px 2px rgba(0, 0, 0, 0.75);
          cursor: pointer;
        }
      }
      .lighting {
        background-color: red;
      }
    }

    #logout {
      background: url("../img/logout.png");
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
      border: 0;
      width: 40px;
      height: 30px;
      align-self: center;
      margin-right: 10px;
      margin-left: 50px;
    }
  }

  #container {
    width: 80%;
    margin-left: 10%;
    padding: 6px;
    background-color: white;
  }
}
