<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index - Beer Baron</title>
    <link rel="stylesheet" type="text/css" href="styles/home.css">
    <!--<script src="../scripts/home.js"></script>-->
    <link rel="icon" href="../img/logo.png" sizes="196x196">
</head>
<body>

    <%- include ('../components/header') %>
    <div id="container">
        
    </div>
</body>
</html>