<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index - Beer Baron</title>
    <link rel="stylesheet" type="text/css" href="../styles/home.css">
    <link rel="icon" href="../img/logo.png" sizes="196x196">
</head>

<body>
    <div id="header">
        <div id="navLogo"><img src="../img/logo.png" id="logo"></div>
        <%- include('../components/nav', { page: page }) %>
        <button id="logout"></button>
    </div>

    <% if (page == "home") { %>
    <!--/////// HOME ///////-->

    <% } %>

    <% if (page == "beers") { %>
    <!--/////// BEERS ///////-->
    <script src="../scripts/homeBeers.js" defer></script>
    <div id="container">
        <%- include('../components/beersFilter', { filter: filter }) %>
        <div id="beersContainer"></div>
    </div>
    <% } %>

    <% if (page == "myProfile") { %>
    <!--/////// MY PROFILE ///////-->

    <% } %>
</body>

</html>