<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index - Beer Baron</title>
    <link rel="stylesheet" type="text/css" href="../styles/body.css">
    <link href="//s.w.org/wp-includes/css/dashicons.css?20150710" rel="stylesheet" type="text/css">
    <link rel="icon" href="../img/logo.png" sizes="196x196">
</head>

<body>
    <div id="header">
        <div id="navLogo"><img src="../img/logo.png" id="logo"></div>
        <%- include('../components/nav', { page: 'myProfile' }) %>
        <button id="logout"></button>
    </div>

    <!--/////// MY PROFILE ///////-->
    <script src="../scripts/myProfile.js" defer></script>
    <link rel="stylesheet" type="text/css" href="../styles/myProfile.css">

    <div id="favorites">
        <img src="../img/flechaAbajoIzq.png">
        <p>My favorite beers</p>
        <img src="../img/flechaAbajoDer.png">
    </div>
    <%- include('../components/footer')  %>
</body>

</html>