<link href="styles/beerFilter.css" rel="stylesheet" type="text/css">
<div id="filterContainer">
    <input type="text" id="nameFilter" class="inputFilter" placeholder="name">
    <select name="origin" id="originFilter" class="inputFilter">
        <option value="" disabled selected>origin</option>
    </select>
    <select name="category" id="categoryFilter" class="inputFilter">
        <option value="" disabled selected>category</option>
    </select>
    <select name="style" id="styleFilter" class="inputFilter">
        <option value="" disabled selected>style</option>
    </select>
    <select name="abv" id="abvFilter" class="inputFilter">
        <option value="" disabled selected>abv</option>
    </select>
    <select name="ibu" id="ibuFilter" class="inputFilter">
        <option value="" disabled selected>ibu</option>
    </select>
    <select name="spm" id="spmFilter" class="inputFilter">
        <option value="" disabled selected>spm</option>
    </select>
    <select name="upc" id="upcFilter" class="inputFilter">
        <option value="" disabled selected>upc</option>
    </select>
    <select name="orderBy" id="orderBy" class="inputFilter">
        <option value="" disabled selected>order by</option>
        <option value="noOrder">no order</option>
        <option value="name">name</option>
        <option value="bestRated">best rated</option>
        <option value="abv">abv</option>
        <option value="ibu">ibu</option>
        <option value="spm">spm</option>
    </select>
    <button id="applyFilters" class="">Apply filters</button>
</div>