<div id="beerFinderBox">
    <div id="innerFinder">
        <input type="text" placeholder="Find beer">
        <img src="../img/magnifyingGlass.png">
    </div>
</div>

<div class="paragraph">
    <p>If you are a beer lover, you have come to the right place</p>
    <p>Here you can find all the information about beers from all places and of all types</p>
</div>

<div id="hr"></div>

<div class="message">
    <div class="words">
        <p>You are here because you have a passion</p>
    </div>
    <img src="../img/brindis.jpg">

</div>

<div id="hr"></div>

<div id="mostBeers">
    <div id="titles" class="row">
        <div class="p">
            <p>★Best rated beer</p>
        </div>
        <div class="p">
            <p>♥Most liked beer</p>
        </div>
    </div>
    <div id="beers" class="row">
        <div id="bestRatedBeer" class="box">

        </div>
        <div id="mostLikedBeer" class="box">

        </div>
    </div>
</div>

<div id="hr"></div>

<div id="ourFilters">
    <p>Our filters</p>
    <div id="filter"> 
        <div id="abv" class="box"><p>ABV</p></div>
        <div id="ibu" class="box"><p>IBU</p></div>
        <div id="srm" class="box"><p>SRM</p></div>
    </div>
    <p>
        We offer you the best filter so you can get the most out of your searches and find exactly the beer you are thinking, even if you don't know its name.</p>
</div>