<script src="../scripts/nav.js" defer></script>
<div id="nav">
    <div class="navItem" id="home">Home</div>
    <div class="navItem" id="beers">Beers</div>
    <div class="navItem" id="myProfile">My profile</div>
    <div class="navItem">More things</div>
</div>
