<script src="../scripts/nav.js" defer></script>
<div id="nav">
    <div class="navItem<%if (page == "home") {%> lighting<% } %>" id="home">Home</div>
    <div class="navItem<%if (page == "beers") {%> lighting<% } %>" id="beers">Beers</div>
    <div class="navItem<%if (page == "myProfile") {%> lighting<% } %>" id="myProfile">My profile</div>
    <div class="navItem">More things</div>
</div>